@import 'src/stylesheets/vars';

.form {
  display: flex;
  flex-direction: column;

  &__input {
    background-color: transparent;

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: whitesmoke;
    }
    & + & {
      margin-top: 1.7rem;
    }
  }

  &__btn {
    width: max-content;
    margin-top: 2rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0.0357143em;
    text-transform: uppercase;
    color: $color-light;
    padding: 0.7rem 0.6rem;
  }
}
