@import 'src/stylesheets/vars';

.user {
  &__title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba($color-dark, 0.87);
    margin-bottom: 1rem;
    display: inline-block;
  }

  &__field-item-title {
    margin-right: 1rem;
  }

  &__field-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem 0.9rem 0;
  }

  &__btn {
    margin-top: 1.2rem;
    color: $color-light;
    padding: 0.7rem 0.5rem;
    letter-spacing: 0.0357143rem;
    text-transform: uppercase;
  }
}
