*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


html,
body {
  height: 100%;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 1rem;
  margin: 0;
  color: $color-default;
}

.container {
  max-width: 664px;
  padding: 0 1rem;
  margin: 0 auto;
}

.page-title {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: rgba($color-dark, 0.87);
  text-align: center;
  margin-bottom: 10rem;
}

.page-wrapper {
  margin-top: 10rem;
}

.error-handler {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-danger;
  color: $color-light;
  font-weight: 500;

  position: relative;

  &__btn-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;

    .mat-mdc-unelevated-button>.mat-icon {
      margin: 0;
    }
  }
}
