<div class="page-wrapper">
  <div class="container">

    <mat-spinner class="loading-spinner" *ngIf="isLoading"></mat-spinner>

    <div *ngIf="!isLoading">
      <div *ngIf="users?.length; else noUsers" class="users-list">
        <app-user
          (outDeletedUserId)="removeUser($event)"
          *ngFor="let user of users;
          let i = index"
          [index]="i"
          [user]="user"
        />
      </div>
      <ng-template #noUsers>
        <p>Нет записей о пользователях</p>
      </ng-template>
    </div>
  </div>
</div>


